.best-report {
  padding: 70px 0;

  &__image {
    width: 52px;
    height: 52px;
    display:block;
    margin:auto;
  }

  &__title {
    font-size: 36px;
    font-family: $open-sans;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__button {
    padding: 15px 75px;
    margin-top: 50px;

    font-size: 16px;
    font-family: $open-sans;
    color: rgb(255, 254, 254);
    font-weight: bold;
    text-transform: uppercase;

    text-align: center;
    text-shadow: 0px 1px 0px rgba(30, 34, 58, 0.19);

    border-radius: 3px;
    background-color: rgb(140, 192, 82);
    border: 0px solid red;

    &:hover {
      cursor: pointer;
      background-color: rgba(140, 192, 82, 0.85);
    }
  }
}
