.container
    #report-compact.report-compact
          .row.justify-content-between 
            .col.col-sm-8.col-md-9.col-lg-10
              a(href="").report-compact__date 07.11.2016
              .report-compact__separator
              a(href="").report-compact__name Петро Порошенко
            .w-100.d-block.d-sm-none 
            .col.col-sm-4.col-md-3.col-lg-2
              a(href="").report-compact__comments 14 коментарів
          .row
            .col
              h2.report-compact__title 
                a(href="").report-compact__title-link Басів кут. Рибна ловля на дикому озері. Відкриття сезону
          .row
            .col.col-md-5.col-lg-4
              img(src="./images/report-compact-image.jpg", alt="").report-compact__image.rounded.float-left
            .w-100.d-block.d-md-none
            .col.col-md-7.col-lg-8
              .report-compact__data
                table
                  tr
                    th Оцінка
                    td 
                      .report-compact__star ★ ★ ★ ★
                        .report-compact__star--grey ★
                  tr
                    th Початок
                    td 16 липня 2016, 19:30
                  tr
                    th Кінець
                    td 17 липня 2016, 00:30
                  tr
                    th Тип
                    td Карпфішинг

              .report-compact__fishes
                img(src="./images/fish-1.png", alt="").report-compact__fish
                img(src="./images/fish-2.png", alt="").report-compact__fish
                img(src="./images/fish-3.png", alt="").report-compact__fish
            .w-100.d-block.d-md-none
            .col.col-md-12.col-lg-8.offset-lg-4
              .report-compact__text Lorem ipsum dolor sit amet. Id quidem facilis quos sed quasi blanditiis aperiam, dicta dolores dolore quibusdam animi tempora, rem quis beatae iusto deserunt delectus ea fugiat.
              a(href="").report-compact__read-whole Читати далі

      #report-compact.report-compact
          .row.justify-content-between 
            .col.col-sm-8.col-md-9.col-lg-10
              a(href="").report-compact__date 07.11.2016
              .report-compact__separator
              a(href="").report-compact__name Петро Порошенко
            .w-100.d-block.d-sm-none 
            .col.col-sm-4.col-md-3.col-lg-2
              a(href="").report-compact__comments 14 коментарів
          .row
            .col
              h2.report-compact__title 
                a(href="").report-compact__title-link Басів кут. Рибна ловля на дикому озері. Відкриття сезону
          .row
            .col.col-md-5.col-lg-4
              img(src="./images/report-compact-image.jpg", alt="").report-compact__image.rounded.float-left
            .w-100.d-block.d-md-none
            .col.col-md-7.col-lg-8
              .report-compact__data
                table
                  tr
                    th Оцінка
                    td 
                      .report-compact__star ★ ★ ★ ★
                        .report-compact__star--grey ★
                  tr
                    th Початок
                    td 16 липня 2016, 19:30
                  tr
                    th Кінець
                    td 17 липня 2016, 00:30
                  tr
                    th Тип
                    td Карпфішинг

              .report-compact__fishes
                img(src="./images/fish-1.png", alt="").report-compact__fish
                img(src="./images/fish-2.png", alt="").report-compact__fish
                img(src="./images/fish-3.png", alt="").report-compact__fish
            .w-100.d-block.d-md-none
            .col.col-md-12.col-lg-8.offset-lg-4
              .report-compact__text Lorem ipsum dolor sit amet. Id quidem facilis quos sed quasi blanditiis aperiam, dicta dolores dolore quibusdam animi tempora, rem quis beatae iusto deserunt delectus ea fugiat.
              a(href="").report-compact__read-whole Читати далі

      #report-compact.report-compact
          .row.justify-content-between 
            .col.col-sm-8.col-md-9.col-lg-10
              a(href="").report-compact__date 07.11.2016
              .report-compact__separator
              a(href="").report-compact__name Петро Порошенко
            .w-100.d-block.d-sm-none 
            .col.col-sm-4.col-md-3.col-lg-2
              a(href="").report-compact__comments 14 коментарів
          .row
            .col
              h2.report-compact__title 
                a(href="").report-compact__title-link Басів кут. Рибна ловля на дикому озері. Відкриття сезону
          .row
            .col.col-md-5.col-lg-4
              img(src="./images/report-compact-image.jpg", alt="").report-compact__image.rounded.float-left
            .w-100.d-block.d-md-none
            .col.col-md-7.col-lg-8
              .report-compact__data
                table
                  tr
                    th Оцінка
                    td 
                      .report-compact__star ★ ★ ★ ★
                        .report-compact__star--grey ★
                  tr
                    th Початок
                    td 16 липня 2016, 19:30
                  tr
                    th Кінець
                    td 17 липня 2016, 00:30
                  tr
                    th Тип
                    td Карпфішинг

              .report-compact__fishes
                img(src="./images/fish-1.png", alt="").report-compact__fish
                img(src="./images/fish-2.png", alt="").report-compact__fish
                img(src="./images/fish-3.png", alt="").report-compact__fish
            .w-100.d-block.d-md-none
            .col.col-md-12.col-lg-8.offset-lg-4
              .report-compact__text Lorem ipsum dolor sit amet. Id quidem facilis quos sed quasi blanditiis aperiam, dicta dolores dolore quibusdam animi tempora, rem quis beatae iusto deserunt delectus ea fugiat.
              a(href="").report-compact__read-whole Читати далі

      #report-compact.report-compact
          .row.justify-content-between 
            .col.col-sm-8.col-md-9.col-lg-10
              a(href="").report-compact__date 07.11.2016
              .report-compact__separator
              a(href="").report-compact__name Петро Порошенко
            .w-100.d-block.d-sm-none 
            .col.col-sm-4.col-md-3.col-lg-2
              a(href="").report-compact__comments 14 коментарів
          .row
            .col
              h2.report-compact__title 
                a(href="").report-compact__title-link Басів кут. Рибна ловля на дикому озері. Відкриття сезону
          .row
            .col.col-md-5.col-lg-4
              img(src="./images/report-compact-image.jpg", alt="").report-compact__image.rounded.float-left
            .w-100.d-block.d-md-none
            .col.col-md-7.col-lg-8
              .report-compact__data
                table
                  tr
                    th Оцінка
                    td 
                      .report-compact__star ★ ★ ★ ★
                        .report-compact__star--grey ★
                  tr
                    th Початок
                    td 16 липня 2016, 19:30
                  tr
                    th Кінець
                    td 17 липня 2016, 00:30
                  tr
                    th Тип
                    td Карпфішинг

              .report-compact__fishes
                img(src="./images/fish-1.png", alt="").report-compact__fish
                img(src="./images/fish-2.png", alt="").report-compact__fish
                img(src="./images/fish-3.png", alt="").report-compact__fish
            .w-100.d-block.d-md-none
            .col.col-md-12.col-lg-8.offset-lg-4
              .report-compact__text Lorem ipsum dolor sit amet. Id quidem facilis quos sed quasi blanditiis aperiam, dicta dolores dolore quibusdam animi tempora, rem quis beatae iusto deserunt delectus ea fugiat.
              a(href="").report-compact__read-whole Читати далі