extend _report-card.jade
block image
  img(src="./images/report-card__image-3.jpg", alt="").card-img-top.report-card__image
block title
  h5.card-title.report-card__title Наживки та насадки для риболовлі
block text
  p.card-text.report-card__text Знову вихідні і знову треба копати картоплю. На цей раз допомагати вже моїм батькам.
