.card(style="width: 360px").report-card
  block image
    img(src="./images/report-card__image-1.jpg", alt="").card-img-top.report-card__image
  .card-body.report-card__body
    block title
      h5.card-title.report-card__title 123456
    block text
      p.card-text.report-card__text 789654123.0
