#header.header.header--image
  .container-fluid
    //- navigation
    include ../navigation/_navigation.jade
    
    .container.d-flex.flex-column.justify-content-center.align-items-center
      h1.main-title Поділися
        .main-title--orange риболовлею
      h2.secondary-title Інтерактивна мапа рибних місць
      .header-icon
