#reports.reports
  .container
    .row.justify-content-center
      .col-2.col-md-1
        img(src="./images/reports-icon.png", alt="").reports__icon
      .w-100
      .col-12
        h1.text-center.reports__title Звіти риболова
    .row
      include ../report-compact/_report-compact.jade
        
