doctype html
html(lang='en')
  head
    title RivneFish
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css")
    link(rel='stylesheet', href='./css/index.min.css')
  body
    //- HEADER 
    include ../blocks/header/_header.jade

    //- MAP 
    include ../blocks/map/_map.jade

    //- BREADCRUMB  
    include ../blocks/breadcrumb/_breadcrumb.jade

    .container
      .row
        .col.col-md-8
          //- POND SINGLE  
          include ../blocks/pond/_pond.jade
        .col-4.d-none.d-md-block
          //- SIDEBAR
          include ../blocks/sidebar/_sidebar.jade


    
     
    //- FOOTER
    include ../blocks/footer/_footer.jade
    
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBNR6b4X-T7ClnXAwpvjD2gj-myPAHdc5E&callback=initMap', type='text/javascript')
    script(type="application/javascript", src="js/app.min.js")
