.sidebar
  .row
    .col
      h3.sidebar__title Інші водойми
    .w-100
    .col
      a(href="").sidebar__item
        h4.sidebar__item-title Горинь біля Сергіївки
        img(src="./images/sidebar-image.jpg", alt="").sidebar__item-image
        .sidebar__item-date 12.05.2047
    .w-100
    .col
      a(href="").sidebar__item
        h4.sidebar__item-title Горинь біля Сергіївки
        img(src="./images/sidebar-image.jpg", alt="").sidebar__item-image
        .sidebar__item-date 12.05.2047
    .w-100
    .col
      a(href="").sidebar__item
        h4.sidebar__item-title Горинь біля Сергіївки
        img(src="./images/sidebar-image.jpg", alt="").sidebar__item-image
        .sidebar__item-date 12.05.2047
    .w-100
    .col
      .sidebar__item-more 
        a(href="").sidebar__item-more-link Більше
    .w-100
    .col
      .sidebar__ad
        img(src="./images/sidebar-ad.jpg", alt="")
    .w-100
    .col
      .sidebar__mail
        form
            .form-group.sidebar__mail-form-group
                input#exampleInputEmail1.form-control.sidebar__mail-input(type='email', aria-describedby='emailHelp', placeholder='Електронна адреса')
            button.btn.btn-success.btn-lg.sidebar__mail-button(type='submit') Отримувати новини
      