.breadcrumb-block
  .container 
    nav(aria-label='breadcrumb')
      ol.breadcrumb.breadcrumb-custom
        li.breadcrumb-item.breadcrumb-custom__item
          a(href='#').breadcrumb-custom__link Головна
        li.breadcrumb-item.breadcrumb-custom__item
          a(href='#').breadcrumb-custom__link Архіви
        li.breadcrumb-item.active(aria-current='page').breadcrumb-custom__item.breadcrumb-custom__item--active Архів звітів