#about-us.about-us
  .container
    .row.justify-content-center
      .col 
        img(src="./images/about-us-icon.png", alt="").about-us__icon
    .row
      .col
        h1.text-center.about-us__title Трохи про нас
    .row.align-items-center.justify-content-between
      .col-sm
        p.about-us__text Ніякі мої прикормки не діяли, хоча я їх застосовував три різних, на різних місцях ловлі. Я навіть спробував повністю змінити місце —  все дарма. Линочки й лапті-карасі мене повністю ігорували. Але в цей же час один чоловік, який тут постійно рибалить, постійно тягав вищезгаданих линків. Ну як так!? А секрет дуже простий: він сюди приїжджає щодня і постійно ловить/годує в одному місці. Звати його Саша, і я його тут постійно бачу. Він зі мною люб’язно поговорив, навіть видав кілька своїх секретів і приблизний рецепт мастирки. В кінці дозволив ввечері половити на його місці. За літо він перетягав тут купу риби, включаючи карасів по кіло. Я гарненько поснідав піщою богів і поїхав копати картоплю, з надією на вечірній кльов. Потім був цілий день копання й вибирання картоплі(як же воно мене вже дістало). І я з сином на велосипедах після важкої праці на городі знову повернулися на ставок. 
      .col-md.col-lg-4
        img(src="./images/about-us.jpg", alt="").about-us__image.img-fluid
