footer#footer.footer
  .container
    .row.align-items-center.justify-content-between
      .col-9.col-sm-11.col-md-5
        a(href="index.html", target="_blank").footer__logo
          img(src="./images/footer-logo-image.png", alt="").footer__logo-image
          .footer__logo-text Rivnefish
      .col-6.d-none.d-md-block
        .footer__social
          a(href="#").footer__social-link.footer__social-link--gplus
          a(href="#").footer__social-link.footer__social-link--facebook
          a(href="#").footer__social-link.footer__social-link--vk
          a(href="#").footer__social-link.footer__social-link--twitter
      .col-3.col-sm-1
        button#footer__return-arrow.footer__return-arrow
      
